.chart {
  background: lightgray;
  border: 1px solid black;
  width: 100vw;
  min-height: 350px;
}

.bar {
    height: 10px;
    color: green;
    fill: lightgreen;
    stroke: black;
    stroke-width: 1;
  }
